.main-chat
  .group-info
    .group-info__box
      %ul.group-info__box
        %li.group-info__box-name
          ds
        .group-info__box-edit
          =link_to "Edit", "#" 
      %ul.group-info__box-member
        %li.group-info__box-member-list
          Member : とーい

  .message-list
    %ul.message-list__info
      %li.message-list__info-name
        とーい
      %li.message-list__info-date
        2019/12/17(Tue) 14:15:22
    %ul.message-list__info-comments
      %li.message-list__info-comments-comment
        yoro
        
    %ul.message-list__info
      %li.message-list__info-name
        とーい
      %li.message-list__info-date
        2019/12/17(Tue) 14:15:22
    %ul.message-list__info-comments
      %li.message-list__info-comments-comment
        yoro

  .message-form
    .message-form-tweet
      type a message
    .message-form-photo
      %label.input-box__image
        %input.login-input-text{:name : "file", :type : "file"}/
        = icon('fas', 'image')
    .message-form-send
      =link_to "Send", "#" 