.side-bar {
  background-color: #253141;
  float: left;
  .side-header {
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
  
    &__box {
      height: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    
      &__username {
        font-weight: bold;
      }
      &__menu {
        display: flex;
        li {
          margin-left: 5px;
        }
          a {
          color: white;
          }
      }
    }
  }
  .group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px); 
  
    &-name {
      color: white;
      height: 20px;
      padding: 20px 20px;
      font-size: 15px;
      
    }

    &-message {
      color: white;
      font-size: 11px;
      padding: 10px 20px;
    }
  }
}
